<div class="container">
	<footer class="footer">
		<small>Copyright @copy <a href="https://muharir17.blogspot.co.id">The Complete Ruby On TRails Developer by</a> dibuat dengan <span class="glyphicon glyphicon-heart"> menggunakan <a href="http://rubyonrails.org">Rails</a></span></small>
		<nav>
			<ul>
				<li><%= link_to "Abouts", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>